* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  letter-spacing: 1px;
}
.clear {
  clear: both;
}
/* header */
.header__content {
  display: flex;
  justify-content: space-between;
  background-color: rgba(29, 31, 32, 0.8);
  padding: 10px 15px;
  z-index: 100;
  align-items: center;
  position: fixed;
  width: 100%;
}
.header__content h1 {
  color: white;
  font-size: 2.5rem;
  letter-spacing: 3px;
}
.header__content h1 span {
  color: #00cdce;
}
nav ul li {
  display: inline-block;
  padding: 0 30px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid white;
  padding: 9px 10px;
}

nav ul li a:hover {
  border-bottom: 2px solid rgba(12, 11, 11, 0);
  color: #00cdce;
}
/* carousel */
.carousel .owl-carousel .owl-dots .owl-dot span {
  background-color: white;
}
.carousel .owl-carousel .owl-dots .owl-dot.active span {
  background-color: black;
}

.carousel__content {
  position: relative;
  text-align: center;
}
.carousel__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 350px 0;
}
.carousel__text h2 {
  font-size: 3.75rem;
  font-weight: 900;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0px 0px 10px;
}
.carousel__text p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #d3d8d8;
  line-height: 35px;
}

.owl-prev,
.owl-next {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  border: 0px solid black;
}
.owl-prev {
  left: 20px;
}
.owl-next {
  right: 20px;
}
