* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
  letter-spacing: 1px;
}
.clear {
  clear: both;
}
/* header */
.header__content {
  display: flex;
  justify-content: space-between;
  background-color: rgba(29, 31, 32, 0.8);
  padding: 10px 15px;
  align-items: center;
  width: 100%;
}
.header__content h1 {
  color: white;
  font-size: 2.5rem;
  letter-spacing: 3px;
}
.header__content h1 span {
  color: #00cdce;
}
nav ul li {
  display: inline-block;
  padding: 0 30px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid white;
  padding: 9px 10px;
}
